.gallery_text{
    text-align: center;
}
.gallery_title{
    text-align: center;
}
.gallery_list{
    display: flex;
}
.gallery_item{
    width: 165px;
    height: 55px;
    border: 1px solid #D6D6D6;
    text-align: center;
    align-items: center;
    padding-top: 17px;
}
.gallery_img_list{
    display: flex;
    justify-content: space-around;
}