.gallery_text{
    text-align: center;
}
.gallery_title{
    text-align: center;
}
.gallery_list{
    display: flex;
}
.gallery_item{
    width: 165px;
    height: 55px;
    border: 1px solid #D6D6D6;
    text-align: center;
    
}
.gallery_img_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.gallery_img_item{
    position: relative;
}
.gallery_img_text{
    position: absolute;
    color: rgb(247, 2, 2);
    z-index: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
