.gallery_text{
    text-align: center;
}
.gallery_title{
    text-align: center;
}
.gallery_list{
    display: flex;
}
.gallery_item{
    width: 165px;
    height: 55px;
    border: 1px solid #D6D6D6;
    text-align: center;
    
}
.gallery_img_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}
.gallery_img_text{
    position: absolute;
    color: rgb(247, 2, 2);

    text-align: center;
}
.wrapp-img-text{
    position: relative;
    top: -50px;
}