body{
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.section{
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    height: 950px;
}
.container{
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}